$c1: #636363;
$c2: #23676e;

.slider {
  width: auto;
  margin: 30px 50px 50px;
}

.slick-slide {
  background: $c1;
  color: #23676e;
  padding: 20px 0;
  font-size: 30px;
  font-family: "Arial", "Helvetica";
  text-align: center;

  img { display: inline-block; }
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots {
  bottom: -40px;
}

.slick-slide:nth-child(odd) {
  background: $c2;
}
